h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.content {
    width: 30%;
    margin: auto;
    font-size: 30px;
}

span {
    font-weight: bold;
    color: rgb(206, 19, 59);
    font-size: 40px;
}

.page {
    display: flex;
    flex-direction: column;
}

.partie-gauche {
    position: relative;
    margin: auto;
    flex-grow: 0;
}

img {
    right: 520px;
    height: 1000px;
    width: 300px;
}

.btn {
    position: absolute;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    cursor: pointer;
}

.btn:active {
    background-color: rgba(184, 18, 18, 0.8);
}

#epaule {
    left: 10px;
    top: 190px;
}

#poignet {
    top: 450px;
    left: 0px;
}

#coude {
    top: 380px;
    left: 250px;
}

#hanche {
    bottom: 500px;
    left: 200px;
}

#genou {
    bottom: 220px;
    left: 200px;
}

#cheville {
    bottom: 80px;
    left: 170px;
}

@media screen and (min-width: 600px) {
    .page {
        flex-direction: row;
    }
    .partie-droite {
        margin: unset;
    }
}